.intro {
      position: absolute;
      top: 1rem;
    .typewriter {
        font-family: sans-serif;
        font-weight: 800;
        font-size: 55px;
        text-align: center;
        display: flex;
        position: absolute;
        top: 0.5rem;
        left: -1.5vw;
        font-weight: bold;
        justify-content: center;
        font-family: 'Vollkorn', serif;
        align-items: center;
        min-height: 30vh;
        color: rgb(57, 70, 68);
        width: 45rem;
        background: rgba(0, 128, 0, 0);
    }
}

.form{
      position: relative;
      top: -35rem;
      left: 50rem;
      width: 20%;
      height: 15rem;

            h1{
                font-family: 'Vollkorn', serif;
            }
}